{% extends 'base.html.twig' %}

{% block title %}Chapitre{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/crud.css') }}"/>
{% endblock %}

{% block body %}
    <h1>Chapitre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chapitre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ chapitre.chapitreTitle }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ chapitre.chapitreContent }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ chapitre.chapitrePosition }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_chapitre_index') }}">retour à la liste</a>

    <a href="{{ path('app_chapitre_edit', {'id': chapitre.id}) }}">modifier</a>

    {{ include('chapitre/_delete_form.html.twig') }}
{% endblock %}
