{% extends 'base.html.twig' %}

{% block title %}Hello CoursController!{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/cours.css') }}"/>
{% endblock %}

{% block body %}

<div class="head">
    <div class="left-side">
        <h2>{{ cour.coursTitle }}</h2>
        <div class="level">
            <img src="{{ asset('imgs/clock.svg') }}" alt="">
            <span>{{ cour.coursDuration }} heures</span>
            <img src="{{ asset('imgs/level.svg') }}" alt="">
            <span>Niveau {{ cour.coursLevel }}</span>
        </div>
    </div>
    <div class="right-side">
        <img src="{{ asset('imgs/pdf.svg') }}" alt="">
        <span> {{ cour.coursCreated }} </span>
    </div>
</div>

<main>
    
    <div class="progress">
        <span class="dot"><img src="{{ asset('imgs/house.svg') }}" alt="" class="inside-dot"></span>
        <div class="rectangle-line">
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
        </div>
        <div class="rectangle-line">
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
        </div>
        <div class="rectangle-line">
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
        </div>              
        <span class="dot"><img src="{{ asset('imgs/certificate.svg') }}" alt="" class="inside-dot"></span>
    </div>
    <pre>
        {{ dump(chapitre) }}
    </pre>

    {# <h2>{{ chapitre.chapitreTitle }}</h2> #}


</main>

                {# <td>{{ chapitre.chapitreContent }}</td>
                <td>{{ chapitre.chapitrePosition }}</td> #}
    
</div>

{% endblock %}
