{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/crud.css') }}"/>
{% endblock %}

{% block body %}
    <h1>Liste des cours</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Synopsis</th>
                <th>Niveau</th>
                <th>Durée</th>
                <th>Image</th>
                <th>Date</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.id }}</td>
                <td>{{ cour.coursTitle }}</td>
                <td>{{ cour.coursSynopsis }}</td>
                <td>{{ cour.coursLevel }}</td>
                <td>{{ cour.coursDuration }}</td>
                <td>{{ cour.coursImage }}</td>
                <td>{{ cour.coursDate ? cour.coursDate|date('Y-m-d') : '' }}</td>
                <td>{{ cour.coursCreated }}</td>
                <td>
                    <a href="{{ path('app_cours_admin_show', {'id': cour.id}) }}">voir</a>
                    <a href="{{ path('app_cours_admin_edit', {'id': cour.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cours_admin_new') }}">Créer un nouveau cours</a>
    <br>
    <a href="{{ path('app_admin_index') }}">Retour à la page admin</a>
{% endblock %}
