{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>Cours_title</th>
                <td>{{ cour.coursTitle }}</td>
            </tr>
            <tr>
                <th>Cours_synopsis</th>
                <td>{{ cour.coursSynopsis }}</td>
            </tr>
            <tr>
                <th>Cours_level</th>
                <td>{{ cour.coursLevel }}</td>
            </tr>
            <tr>
                <th>Cours_duration</th>
                <td>{{ cour.coursDuration }}</td>
            </tr>
            <tr>
                <th>Cours_image</th>
                <td>{{ cour.coursImage }}</td>
            </tr>
            <tr>
                <th>Cours_date</th>
                <td>{{ cour.coursDate ? cour.coursDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Cours_created</th>
                <td>{{ cour.coursCreated }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cours_admin_index') }}">back to list</a>

    <a href="{{ path('app_cours_admin_edit', {'id': cour.id}) }}">edit</a>

    {{ include('cours_admin/_delete_form.html.twig') }}
{% endblock %}
